body {
    font-family: Arial, sans-serif;
    background-color: #FED2E2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    background-color: #C68EFD;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    max-height: 90vh; 
    overflow-y: auto; /* ito para maka scroll ka ning kase nag overflow siya */
}

h2 {
    color: white;
    text-align: center;
}

h3 {
    color: white;
}

form {
    display: grid;
    gap: 15px;
}

label {
    font-weight: bold;
    color: white;
}

input, select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box; /* Prevents overflow from padding */
}

button {
    padding: 15px;
    background-color: #FED2E2;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #C68EFD;
}

/* alam mona ito */
@media screen and (max-width: 768px) {
    .container {
        max-height: 85vh;
    }
}
